[submodule "nodejs"]
	path = nodejs
	url = https://github.com/SirMorfield/joppekoers.nl.git
[submodule "bookclub-voting"]
	path = bookclub-voting
	url = https://github.com/mraasvel/bookclub-voting.git
