[submodule "nodejs"]
	path = nodejs
	url = https://github.com/SirMorfield/joppekoers.nl.git
[submodule "codamHours"]
	path = codamHours
	url = git@github.com:SirMorfield/codamHours.git
[submodule "find-peers"]
	path = find-peers
	url = https://github.com/SirMorfield/find-peers.git
