.DS_Store
/runtimeGenerated
/rclone/rclone.conf
/inject-secrets.sh

# secrets
/samba/Dockerfile
/rclone/rclone.conf
/qbittorrent/qBittorrent.conf
/offsite/offsite.sh
/nextcloud/config.php
/syncthing/config.xml
/samba/password_joppe
.env
